{% extends 'base.html' %}
{% block content %}
<!-- about section start -->
	<div class="about_section layout_padding">
		<div class="container">
			<h1 class="about_text">About Us</h1>
			<p class="lorem_text">You can take snapshots of your friends or document your family's trip to the beach. If you want, you can print them on photo paper, or you can just view them on a computer, TV, or digital photo frame.
                taking a photo with a digital camera
                Share  </p>
			<div class="about_bt"><a href="#">Read More</a></div>
		</div>
	</div>
	<!-- about section end -->
	{% endblock %}
	 
    
