{% extends 'base.html' %}
{% block content %}

	 <!-- Our cameras section start -->
  <div class="cameras_section layout_padding">
    <div class="container">
      <h1 class="Cameras_text">Our Cameras</h1>
      <div class="cameras_section_2">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
          <div class="col-md-6">
            <div class="images_3"><img src="static/images/img-2.png"></div>
            <div class="taital_main">
              <h2 class="best_text">Best Camera</h2>
              <h2 class="dolar_text">$<span style="color: #874ce0;">400</span></h2>
            </div>
            <p class="lorem_ipsum_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, </p>
            <div class="bt_text"><a href="#">Read More</a></div>
          </div>
          <div class="col-md-6">
            <p class="ipsum_text">If you don't have a scanner, you can simply take a photograph of a document. For example, you could take a picture of your tax forms to keep a record of them.</p>
            <div class="images_3"><img src="static/images/img-3.png"></div>
            <div class="taital_main">
              <h2 class="camera_text">Best Camera</h2>
              <h2 class="dolar_text_2">$<span style="color: #874ce0;">400</span></h2>
            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row">
          <div class="col-md-6">
            <div class="images_3"><img src="static/images/img-2.png"></div>
            <div class="taital_main">
              <h2 class="best_text">Best Camera</h2>
              <h2 class="dolar_text">$<span style="color: #874ce0;">400</span></h2>
            </div>
            <p class="lorem_ipsum_text">You can hone your photography skills, get creative, and even use image-editing software to experiment with your photos. At this point, you may want to invest in a higher-quality camera to improve your photos. </p>
            <div class="bt_text"><a href="#">Read More</a></div>
          </div>
          <div class="col-md-6">
            <p class="lorem_ipsum_text">You can take snapshots of your friends or document your family's trip to the beach. If you want, you can print them on photo paper, or you can just view them on a computer, TV, or digital photo frame.
              taking a photo with a digital camera
              Share </p>
            <div class="images_3"><img src="static/images/img-3.png"></div>
            <div class="taital_main">
              <h2 class="camera_text">Best Camera</h2>
              <h2 class="dolar_text_2">$<span style="color: #874ce0;">400</span></h2>
            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row">
          <div class="col-md-6">
            <div class="images_3"><img src="static/images/img-2.png"></div>
            <div class="taital_main">
              <h2 class="best_text">Best Camera</h2>
              <h2 class="dolar_text">$<span style="color: #874ce0;">400</span></h2>
            </div>
            <p class="lorem_ipsum_text">You can take snapshots of your friends or document your family's trip to the beach. If you want, you can print them on photo paper, or you can just view them on a computer, TV, or digital photo frame.
              taking a photo with a digital camera
              Share </p>
            <div class="bt_text"><a href="#">Read More</a></div>
          </div>
          <div class="col-md-6">
            <p class="ipsum_text">You can take snapshots of your friends or document your family's trip to the beach. If you want, you can print them on photo paper, or you can just view them on a computer, TV, or digital photo frame.
              taking a photo with a digital camera
              Share  </p>
              <h2 class="camera_text">Best Camera</h2>
              <h2 class="dolar_text_2">$<span style="color: #874ce0;">400</span></h2>
            </div>
          </div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i></a>
  </a>
  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
  </a>
</div>
      </div> 
    </div>
  </div>
  <!-- Our cameras section end -->
  {% endblock %}



     
